body {
    background-color: white;
    margin: 0;
}

.top {
    margin: 0;
    width: 100vw;
    background-color: #0A5D58;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    display: flex;
    padding-left: 3rem;
}

.main {
  padding: 2rem;
}

nav ul {
    padding-top: 5px;
    font-weight: bold;
    justify-content: right;
    color: white;
    list-style: none;
}

nav ul li {
   padding-right: 5rem;
    display: inline-block;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration-color: white;
    text-decoration: underline;
}